:root {
  --header-height: 80px;
  --background-color: #f6f6f6;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  background: var(--cold-grey-5, #f3f4f6);
  /* Shadow/400 */
  box-shadow:
    0px 8px 24px -4px rgba(24, 39, 75, 0.08),
    0px 6px 12px -6px rgba(24, 39, 75, 0.12);
  z-index: 200;

  padding: 0px 117px;
  height: var(--header-height);

  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  padding: 27px 0px;
}

.navbar-center {
  padding: 0 1rem;
  flex-grow: 1;

  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-center > * {
  transition: all 1s ease-in-out;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 40px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--header-height);

  height: 100%;
  width: 100%;

  text-align: center;

  list-style: none;
}

.navbar-links > a {
  height: 100%;

  color: inherit;
  text-decoration: inherit;
}

.search-bar-form {
  height: 100%;
  width: 100%;
}

.search-bar-input {
  height: 100%;
  width: 100%;
  background: transparent;

  border: none;

  color: var(--cold-grey-90, #22242a);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.08px;
}

.navbar-icons {
  display: inline-flex;
  align-items: center;
  gap: 28px;
}

.body {
  background: var(--background-color);
  padding: var(--header-height) 0 0 0;
  min-height: calc(100vh - var(--header-height));

  z-index: 100;
}

.no-scroll {
  overflow: hidden;
}

.legend {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - var(--header-height));
  grow: 1;
}

.legend-content {
  grow: 1;
  shrink: 0;
  height: 100%;

  padding: 0 0 0 97px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.legend-title {
  color: var(--cold-grey-90, #22242a);
  font-family: Roboto;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.08px;
}

.legend-description {
  max-width: 650px;

  color: var(--cold-grey-60, #696c73);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}

.primary-button {
  flex-shrink: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 200px;
  height: 50px;
  padding: 5px 26px;

  background: var(
    --gradient-red-gradient-9,
    linear-gradient(90deg, #ec008c 0%, #fc6767 100%)
  );

  /* Shadow/300 */
  box-shadow:
    0px 8px 16px -6px rgba(24, 39, 75, 0.08),
    0px 6px 8px -6px rgba(24, 39, 75, 0.12);

  border: none;
  border-radius: 50px;

  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
}

.legend-side {
  height: 100%;
  grow: 1;
  shrink: 0;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: end;
}

.carousel-item {
  position: relative;
  grow: 1;
  shrink: 0;

  height: inherit;
  width: inherit;
  display: inherit;

  transition: all 1s ease-in-out;
}

.hide-left-shrink {
  width: 0;

  opacity: 0%;
  overflow: hidden;
}

.hide-right-shrink {
  width: 0;

  opacity: 0%;
  overflow: hidden;
}

.hide-left {
  position: absolute;
  height: 100%;

  transform: translate(-100vw, 0%);

  opacity: 0%;
}

.hide-right {
  position: absolute;
  height: 100%;

  transform: translate(100vw, 0%);

  opacity: 0%;
}

.carousel-buttons {
  position: absolute;
  right: 0;

  display: flex;
  gap: 17px;

  padding: 0 36px 32px 0;

  margin-left: auto;
}

.icon-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.sale-container {
  position: relative;
  height: 100%;
  min-width: 0;
  max-width: 100%;
  object-fit: contain;
}

.sale-container > img {
  height: 100%;
  min-height: 0;
  min-width: 0;
  object-fit: contain;
}

.sale-circle {
  position: absolute;

  top: 134px;
  left: 234px;

  height: 134px;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background-image: linear-gradient(90deg, #e44d26 0%, #f16529 100%);

  text-align: center;
  line-height: 134px;

  color: #fff;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.44px;
}

.modal-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: #000000;
  opacity: 20%;

  z-index: 899;
}

.modal {
  position: absolute;
  width: 50vw;
  height: 75vh;

  background-color: white;
  border-radius: 1rem;

  z-index: 900;

  padding: 3rem;
}

.pin-right {
  display: flex;
  justify-content: end;
}

.modal-cross {
  background-color: transparent;
  border: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-input {
    border-radius: 0.25rem;
    padding: 0.25rem;
    border: 1px solid black;
}
